@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,100&display=swap');

html, body{
    height: 100%;
    background-color: blueviolet;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img{
    max-width: 100%;
    height: 100%;
}

header{
    display: flex;
}

a{
    text-decoration: none;
    font-weight: 700;
}

h1, h2, h3, h4 {
    text-align: center;
}

h1{
    font-weight: 700;
}

footer{
    background-color: #e2e2e2;
}

.container{
    width: 1200px;
    margin: auto;
}

.cv-img-container{
    flex: 0 0 calc(10%);
    text-align: center;
}

.basic-data-container{
    flex: 3 1 calc(77.7%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e1e1e1;
}

.basic-data-container h1{
    text-align: center;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container a{
    padding: 1rem;
}

.categories-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #e1e1e1;
    border-radius: 1rem;
    padding: 1rem;
}

.article-container{
    background-color: #7294b9ed;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #e1e1e1;
}